.date-selector-dropdown-button { font-size: 1em; background: #eeeeee; color: #333333; }
.date-selector-dropdown-button--open { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.date-selector-dropdown-button--date,
.date-selector-dropdown-button--clear,
.date-selector-dropdown-button--toggle { float: left; height: 1em; padding: 1em; }
.date-selector-dropdown-button::after {  content: ""; display: block; clear: both; }

.date-selector-dropdown-button--date { width: 6em; padding-right: 0; white-space: nowrap; }
.date-selector-dropdown-button--clear { width: 1em; text-align: center; color: #cccccc; }
.date-selector-dropdown-button--clear:hover { color: #333333; }
.date-selector-dropdown-button--toggle { width: 1em; text-align: center; color: #666666; border-left: 1px solid rgba(0, 0, 0, 0.05); }
.date-selector-dropdown-button--toggle:hover { background: rgba(0, 0, 0, 0.05); }
.date-selector-dropdown-button--toggle span { font-size: 0.8em; vertical-align: top; }