html { font-size: 12px; }
body { margin: 40px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; line-height: 1rem; }
h1 { padding: 0; margin: 2rem 0; font-size: 1.5rem; line-height: 1rem; font-weight: normal; }
