html { font-size: 12px; }
body { margin: 40px; font-family: Helvetica Neue, Helvetica, Segoe UI, Arial, sans-serif; line-height: 1rem; }
h1 { margin: 2rem 0; padding: 0; font-size: 1.5rem; line-height: 1rem; font-weight: normal; }
input { margin: 0; padding: 1em; font-size: 1rem; line-height: 1em; width: 6.3em; border: 1px solid #dddddd; }
label { display: block; margin: 0.5em 1em; color: #999999; }

.columns > div { display: inline-block; margin: 0 2em 2em 0; }


/*
3-custom-button
*/

.date-selector-dropdown-button { font-size: 1em; background: #eeeeee; color: #333333; }
.date-selector-dropdown-button--open { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.date-selector-dropdown-button--date,
.date-selector-dropdown-button--clear,
.date-selector-dropdown-button--toggle { float: left; height: 1em; padding: 1em; }
.date-selector-dropdown-button::after {  content: ""; display: block; clear: both; }

.date-selector-dropdown-button--date { width: 6em; padding-right: 0; white-space: nowrap; }
.date-selector-dropdown-button--clear { width: 1em; text-align: center; color: #cccccc; }
.date-selector-dropdown-button--clear:hover { color: #333333; }
.date-selector-dropdown-button--toggle { width: 1em; text-align: center; color: #666666; border-left: 1px solid rgba(0, 0, 0, 0.05); }
.date-selector-dropdown-button--toggle:hover { background: rgba(0, 0, 0, 0.05); }
.date-selector-dropdown-button--toggle span { font-size: 0.8em; vertical-align: top; }
