.dropdown { display: inline-block; }
.dropdown .button-container { cursor: default; }

.dropdown.open { position: relative; z-index: 1; }
.dropdown.open .page-cover { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
.dropdown.open .button-container  { position: relative; z-index: 1; }
.dropdown.open .content-container { position: absolute; box-shadow: 0 0.25em 2em 1px rgba(60, 60, 60, 0.3); }
